/* maybe split into subfiles */

:root {
  height: 100%;
  width: 100%;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#titleM {
  text-align: center;
  font-size: 1.5em;
}

#preConsB {
  
}

#retBtoM {

}

#regVsSsB {
  position: absolute;
  top: 40%;
  left: 40%;

}

#regToolForB {
  position: absolute;
  top: 50%;
  left: 40%;
}

#regBBBB {
  position: absolute;
  top: 60%;
  left: 40%;
}

#retToPreConst {
  display: block;
}

#regVsSsCanvas, #regToolForCanvas, #regBBBCanvas {
  height: 100%;
  width: 100%;
}
